/* SURAIYA KHOJA */
/* Styling the login page */
.login-container {
  width: 300px;
  margin: 100px auto; 
  padding: 20px;
  position: absolute;
  top: 15px;
  left: 550px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.login-page .logo {
  top: 5px;
  left: 674px;;
  position: absolute;

}

.login-page h1 {
  left: 100px;
}

/* Input field styling */
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #007bff; 
}

/* Login button styling */
.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.login-form button:hover {
  background-color: #0056b3; 
}

/* Error message styling */
.error-message {
  color: #ff0000;
  margin-top: 10px;
  text-align: center; 
}