/* variant.css Bobby*/

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #f0f8ff;
}

.logo {
  position: absolute;
  padding: 0px;
  top: 5px;
  left: 674px;
  width: 150;
  height: 150px;
  z-index: 1;
}

.addvariant-container {
  width: 400px;
  margin: auto;
  position: absolute;
  left: 500px;
  top: 50px;
  padding: 20px;
  background-color: #f0f8ff;
}

h1 {
  font-size: 20px;
  margin-top: 50px;
  margin-left: 0px;
}

h2 {
  font-family: Monospace, Monaco;
  font-size: 15px;
  left: 50%;
  font-weight: 100;
  margin-left: 0px;
}

.addvariant-container h1 {
  top: 50%;
  left: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.addvariant-container input[type="variant_name"],
.addvariant-container input[type="variant_value"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addvariant-container button {
  width: 420px;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addvariant-container button:hover {
  width: 420px;
  background-color: #0056b3;
}

.addvariant-container .error-message {
  color: #ff0000;
  margin-top: 10px;
}
